{% extends 'base.html' %}
{% load static %}
{% block content %}
    <aside>
        <ul>
            <li><a href="galleries">Kate`s Portfolio</a></li>
            <li><a href="contacts">Kate`s Contacts</a></li>
            <li><a href="/">Back to the Main Page</a></li>
            <hr>
            <p><b><i>Hi! My name is Kate and I am a photographer. Most of my life I’ve been trying to caught on camera
                the most beautiful
                moments. Initially, my works used to be only on phones. So I decided to do it professionally now.
                I take pictures of people, animals and nature here. I can work during sport games.
                I also do retouching and color correction. I can fluently speak Russian, Ukrainian and English.
                So I can make a photo shoot even for guests of Kharkiv.</i></b></p>

            <hr>
            <p><b><i>Привіт! Мене звати Катерина, і я фотограф. Більшу частину життя я намагалася зафіксувати на камеру
                яскраві
                моменти. Спочатку мої роботи були тільки в галереях телефонів. Тепер я професійно займаюсь цією
                справою.
                Захоплююсь фотографуванням людин, тварин і природу.
                Є досвід роботи на спортивних іграх. Також займаюся ретушшю і кольорокорекцією світлин.
                Вільно розмовляю російською, українською і англійською.
                Можу влаштувати зйомку навіть гостям міста Харкова.
                Мої роботи можете побачити на цих сторінках.<i/><b/></p>

        </ul>
    </aside>


{% endblock %}