{% extends 'base.html' %}
{% load static %}
{% block content %}
    <aside>
        <ul>
            <li><a href="https://instagram.com/katbezphotography">Kate`s Instagram</a></li>
            <li><a href="https://www.facebook.com/k.bezzubetz">Kate`s Facebook</a></li>
            <li><a href="https://vk.com/katebez">Kate`s VK</a></li>
            <li><a href="mailto:katbez2003@gmail.com">Kate`s Email</a></li>
            <li><a href="/">Back to the Main Page</a></li>
            <hr>
        </ul>
    </aside>


{% endblock %}