{% extends 'base.html' %}
{% load static %}
{% block content %}
    <aside>
        <ul>
            <li><a href="bio">About Kate</a></li>
            <li><a href="galleries">Kate`s Portfolio</a></li>
            <li><a href="contacts">Kate`s Contacts</a></li>
            <p><b>Photographer Kate Bezzubets. Weddings, sport events, private sessions.
                Kharkiv. Kyiv. Ukraine. World.</b></p>
            <hr>
            <p><b>Фотограф Катерина Беззубець. Весілля, спортивні змагання, приватні сесії.
                Харків. Київ. Україна. Світ.</b></p>
        </ul>
    </aside>


{% endblock %}